@{ 
    ViewData["Title"] = "Videos";
    int pageCounter = 1;
}

@model NldbVideoResult

<h1>Videos</h1>

<div>
    <p>
        Items per Page:
        <select id="items-per-page">
            <option value="50">50</option>
            <option value="100" selected>100</option>
            <option value="150">150</option>
            <option value="200">200</option>
        </select>
        <input type="text" id="search" placeholder="search..." />
    </p>
</div>

<p id="pagination">
    @for (int i = 0; i <= Model.VideoCount; i += Model.AmountPerPage)
    {
        <a>@pageCounter</a>
        pageCounter++;
    }
</p>

<table id="video-table">
    <thead>
        <tr id="video-table-head">
            <th data-sort-by="@((int)VideoOrderBy.Title)">Title</th>
            <th data-sort-by="@((int)VideoOrderBy.Duration)">Duration</th>
            <th data-sort-by="@((int)VideoOrderBy.Published)">Releasedate</th>
            <th>Submit</th>
            <th data-sort-by="@((int)VideoOrderBy.Likes)">Likes</th>
            <th data-sort-by="@((int)VideoOrderBy.Dislikes)">Dislikes</th>
            <th data-sort-by="@((int)VideoOrderBy.LikeDislikeRatio)">Ratio</th>
            <th data-sort-by="@((int)VideoOrderBy.ViewCount)">Views</th>
            <th data-sort-by="@((int)VideoOrderBy.FavoriteCount)">Favourites</th>
            <th data-sort-by="@((int)VideoOrderBy.CommentCount)">Comments</th>
            <th>HD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Videos)
        {
            <tr>
                <td>
                    @if (v.SubmissionCount > 0)
                    {
                        <a asp-controller="@VideoController.Controllername" asp-route-id="@v.Id">@v.Title</a>
                    }
                    else
                    {
                        @v.Title
                    }
                </td>
                <td>@v.Duration</td>
                <td>@v.Published.ToLongDateString()</td>
                <td><button>Submit</button></td>
                <td>@v.Likes</td>
                <td>@v.Dislikes</td>
                <td>@v.LikeDislikeRatio</td>
                <td>@v.ViewCount</td>
                <td>@v.FavoriteCount</td>
                <td>@v.CommentCount</td>
                <td>@v.IsHD</td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script src="~/js/dist/video_loader.min.js" asp-append-version="true"></script>
}