@{
    ViewData["Title"] = Model.Count > 0 ? $"Submissions for video with ID {Model[0].Video}" : "No Submissions found";
}

@model List<SubmittedEpisode>

@if (Model.Count > 0)
{
    <h3>Submissions for video with ID @Model[0].Video</h3>

    <table>
        <thead>
            <tr>
                <th>Submission ID</th>
                <th>User</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var submission in Model)
            {
                <tr>
                    <td>@submission.Id</td>
                    <td>@submission.UserName</td>
                    <td><a asp-area="Admin" asp-controller="@SubmissionsController.Controllername" asp-action="@nameof(SubmissionsController.EditSubmission)" asp-route-id="@submission.Id">Edit</a></td>
                    <td><a asp-area="Admin" asp-controller="@SubmissionsController.Controllername" asp-action="@nameof(SubmissionsController.DeleteSubmission)" asp-route-id="@submission.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No submissions found.</h3>
}

