@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{ 
    ViewData["Title"] = "Submit Episode";
    ViewData["HideNavigation"] = true;

    var origin = env.EnvironmentName == "Development" ? "https://localhost:5005" : "https://www.northernlion-db.com";
    var youtubeIframeUrl = $"https://www.youtube.com/embed/{ViewData["Id"]}?enablejsapi=1&origin={origin}&rel=0&autoplay=1";
}

@model List<IsaacResource>

<div style="display: flex;" id="menu-wrapper">
    <div style="width: 70%; display: flex; flex-direction: column;">
        <div style="width: 100%; padding-bottom: 56.25%; position: relative;">
            <iframe id="ytplayer" src="@youtubeIframeUrl" frameborder="0"></iframe>
        </div>
        <div style="display: flex;">
            <div style="width: 50%; font-size: 0.85rem; padding: 0 0.5rem;" id="quotes" class="l">
                <p id="submit-quote-header">Did NL say something interesting/funny? Submit a quote here: <span id="quotes-textarea-counter">(0/300 characters)</span></p>
                <div style="display: flex;">
                    <div>
                        <textarea rows="4" cols="30" maxlength="300" id="quotes-textarea"></textarea>
                    </div>
                    <div>
                        Quote started at:<br/>
                        <input type="radio" id="current-video-time" /> Current video timer <br />
                        <input type="radio" id="exact-time" selected />
                        <select id="select-minute">
                            <option selected value="-">-</option>
                            @for (var i = 0; i < 180; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select> Minutes
                        <select id="select-second">
                            <option selected value="-">-</option>
                            @for (var i = 0; i < 60; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select> Seconds
                    </div>
                </div>
                <button id="submit-quote-button">Submit Quote</button>
            </div>
            <div style="width: 20%; text-align: left; padding: 0 0.5rem;" id="submit-topic-container">
                <p style="font-size: 0.85rem">
                    Did NL talk about a topic for a while?<br/>
                    Submit interesting topics here!
                </p>
                <div>
                    <textarea id="submit-topic-textarea" maxlength="100" rows="2" cols="20" placeholder="Topics, Tangents, Events, Artists..."></textarea>
                </div>
                <div>
                    <button id="submit-topic-button">Submit</button>
                </div>
            </div>
            <div style="width: 30%; text-align: left; padding: 0 0.5rem;">
                <p style="margin: 0; padding: 0; font-size: 0.8rem;">Event History - click on items to remove them</p>
                <table id="history"><tr><td>Nothing added yet!</td></tr></table>
            </div>
        </div>
    </div>
    <div style="width: 30%;">
        <h3 id="ui-header"></h3>
        <div id="ui-menus"></div>
    </div>
</div>

<div id="current-player-container">Player: <button id="current-player-button">1</button></div>

@section Scripts {
    <script src="~/js/dist/submit_episode.min.js"></script>
}

