<nav class="w20" id="nav">
    <div class="nav-section l">
        @if(User.Identity.IsAuthenticated)
        {
            <p>
                Logged in as<br/>
                            <span class="orange"><strong>@User.Identity.Name</strong></span>
            </p>
            <p>
                <a asp-controller="@AccountController.Controllername" asp-action="@nameof(AccountController.Logout)">Logout</a> | <a asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.Index)">My Account</a>
            </p>
        }
        else
        {
            <p>
                <a asp-controller="@AccountController.Controllername" asp-action="@nameof(AccountController.Login)">Login / Register</a>
            </p>
        }
    </div>

    <div class="nav-section">
        <h3 class="l">Learn more about...</h3>
        <a class="nav-point" href="/Videos">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -630px 0 transparent;"></div>
            Episodes
        </a>
        <a class="nav-point" href="/Items">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -70px 0 transparent;"></div>
            Collected Items
        </a>
        <a class="nav-point" href="/Bosses">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -140px 0 transparent;"></div>
            Bossfights
        </a>
        <a class="nav-point" href="/Characters">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -455px 0 transparent;"></div>
            Played Characters
        </a>
        <a class="nav-point" href="/ItemSources">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -420px 0 transparent;"></div>
            Item Sources
        </a>
        <a class="nav-point" href="/Quotes">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -490px 0 transparent;"></div>
            Quotes
        </a>
        <a class="nav-point" href="/Floors">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -105px 0 transparent;"></div>
            Floors
        </a>
        <a class="nav-point" href="/Transformations">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -525px 0 transparent;"></div>
            Transformations
        </a>
        <a class="nav-point" href="/CharacterRerolls">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -385px 0 transparent;"></div>
            Character Rerolls
        </a>
        <a class="nav-point" href="/Curses">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -560px 0 transparent;"></div>
            Curses
        </a>
        <a class="nav-point" href="/Pills">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -175px 0 transparent;"></div>
            Swallowed Pills
        </a>
        <a class="nav-point" href="/Runes">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -245px 0 transparent;"></div>
            Used Runes
        </a>
        <a class="nav-point" href="/TarotCards">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -210px 0 transparent;"></div>
            Used Tarot Cards
        </a>
        <a class="nav-point" href="/Trinkets">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -280px 0 transparent;"></div>
            Collected Trinkets
        </a>
        <a class="nav-point" href="/OtherConsumables">
            <div class="nav-icon" style="background: url('/img/gameplay_events.png') -315px 0 transparent;"></div>
            Other Consumables
        </a>
    </div>
</nav>

