@model List<IsaacResource>

@{ 
    var firstFloors = Model.Where(x => x.Name == "Basement 1" || x.Name == "Cellar 1" || x.Name == "Burning Basement 1" || x.Name == "Greed Mode - Basement").ToList();
}

<h3>Which Floor are we on?</h3>

@foreach(var floor in firstFloors)
{
    <div class="character-box" data-id="@floor.Id">
        <div style="background: url('/img/isaac.png') -@(floor.X <= 0 ? 0 : floor.X)px -@(floor.Y <= 0 ? 0 : floor.Y)px transparent; width: @(floor.W <= 5 ? 31.ToString() : floor.W.ToString())px; height: @(floor.H <= 5 ? 31.ToString() : floor.H.ToString())px; display: inline-block; vertical-align: top"></div>
        <div>@floor.Name</div>
    </div>
}

<div>
    <a id="show-all-floors">Show all floors</a>
    <div class="display-none" id="all-floors-box">
        @foreach (var floor in Model)
        {
            <div class="character-box" data-id="@floor.Id">
                <div style="background: url('/img/isaac.png') -@(floor.X <= 0 ? 0 : floor.X)px -@(floor.Y <= 0 ? 0 : floor.Y)px transparent; width: @(floor.W <= 5 ? 31.ToString() : floor.W.ToString())px; height: @(floor.H <= 5 ? 31.ToString() : floor.H.ToString())px; display: inline-block; vertical-align: top"></div>
                <div>@floor.Name</div>
            </div>
        }
    </div>
</div>

