@model NldbVideoResult

@{
    int pageCounter = 1;
}

<h1>@Model.Header</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p>@Model.Description</p>
}

<div>
    <p>
        Items per Page:
        <select id="items-per-page">
            <option value="50" selected>50</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="200">200</option>
        </select>
        <input type="text" id="search" placeholder="search..." />
    </p>
</div>

<div id="pagination">
    @for (int i = 0; i <= Model.VideoCount; i += Model.AmountPerPage)
    {
        if (i is 0)
        {
            <a class="active-page">@pageCounter</a>
        }
        else
        {
            <a>@pageCounter</a>
        }
        pageCounter++;
    }
</div>

<table id="video-table">
    <thead>
        <tr id="video-table-head">
            <th data-sort-by="@((int)VideoOrderBy.Title)">Title</th>
            <th data-sort-by="@((int)VideoOrderBy.Duration)">Duration</th>
            <th data-sort-by="@((int)VideoOrderBy.Published)">Releasedate (m/d/y)</th>
            <th>Submit</th>
            <th data-sort-by="@((int)VideoOrderBy.Likes)">Likes</th>
            <th data-sort-by="@((int)VideoOrderBy.Dislikes)">Dislikes</th>
            <th data-sort-by="@((int)VideoOrderBy.LikeDislikeRatio)">Ratio</th>
            <th data-sort-by="@((int)VideoOrderBy.ViewCount)">Views</th>
            <th data-sort-by="@((int)VideoOrderBy.FavoriteCount)">Favourites</th>
            <th data-sort-by="@((int)VideoOrderBy.CommentCount)">Comments</th>
            <th>HD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Videos)
        {
            <tr>
                <td>
                    @if (v.SubmissionCount > 0)
                    {
                        <a asp-controller="@VideoController.Controllername" asp-route-id="@v.Id">@v.Title</a>
                    }
                    else
                    {
                        <span class="gray">@v.Title</span>
                    }
                </td>
                <td>@v.Duration</td>
                <td>@v.Published</td>
                <td><a asp-controller="@SubmitEpisodeController.Controllername" asp-action="@nameof(SubmitEpisodeController.Index)" asp-route-id="@v.Id">Submit</a></td>
                <td>@v.Likes</td>
                <td>@v.Dislikes</td>
                <td>@v.LikeDislikeRatio</td>
                <td>@v.ViewCount</td>
                <td>@v.FavoriteCount</td>
                <td>@v.CommentCount</td>
                <td>@v.IsHD</td>
            </tr>
        }
    </tbody>
</table>