@{ 
    ViewData["Title"] = "External Logins";
    var currentLogins = (IList<Microsoft.AspNetCore.Identity.UserLoginInfo>)ViewData["CurrentLogins"];
    var otherLogins = (IList<Microsoft.AspNetCore.Authentication.AuthenticationScheme>)ViewData["OtherLogins"];
    var showRemoveButton = (bool)ViewData["ShowRemoveButton"];
}

<h3>Currently used external logins</h3>

@Html.ValidationSummary()


<section class="myaccount-grid">
    @foreach(var currentLogin in currentLogins)
    {
        <div>
            @(currentLogin.ProviderDisplayName ?? currentLogin.LoginProvider)
            @switch ((currentLogin.ProviderDisplayName ?? currentLogin.LoginProvider).ToLower())
            {
            case "facebook":
                <partial name="_IconFacebookPartial" />
                break;
            case "twitter":
                <partial name="_IconTwitterPartial" />
                break;
            case "google":
                <partial name="_IconGooglePartial" />
                break;
            case "twitch":
                <partial name="_IconTwitchPartial" />
                break;
            case "steam":
                <partial name="_IconSteamPartial" />
                break;
            }
        </div>
        <div>
            <form method="post" asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.RemoveExternalLogin)">
                <input type="hidden" value="@currentLogin.LoginProvider" name="@nameof(RemoveLoginModel.LoginProvider)" />
                <input type="hidden" value="@currentLogin.ProviderKey" name="@nameof(RemoveLoginModel.ProviderKey)" />

                @if (showRemoveButton)
                {
                    <button type="submit">Remove Login</button>
                }
            </form>
        </div>
    }
</section>

<section class="myaccount-grid">
    @foreach (var otherLogin in otherLogins)
    {
    <div>
        @(otherLogin.DisplayName ?? otherLogin.Name)
        @switch ((otherLogin.DisplayName ?? otherLogin.Name).ToLower())
        {
            case "facebook":
                <partial name="_IconFacebookPartial" />
                break;
            case "twitter":
                <partial name="_IconTwitterPartial" />
                break;
            case "google":
                <partial name="_IconGooglePartial" />
                break;
            case "twitch":
                <partial name="_IconTwitchPartial" />
                break;
            case "steam":
                <partial name="_IconSteamPartial" />
                break;
        }


    </div>
        <div>
            <form method="get" asp-action="@nameof(MyAccountController.LinkLogin)" asp-controller="@MyAccountController.Controllername">
                <input type="hidden" value="@otherLogin.Name" name="provider" />
                <button type="submit" style="width: 200px;">Add @(otherLogin.DisplayName ?? otherLogin.Name) Login</button>
            </form>
        </div>
    }
</section>


