@{ 
    ViewData["Title"] = "Profile Settings";
    var messageExists = ViewData.TryGetValue("Message", out object message);
}

@model IndexModel

<h1>Profile Settings</h1>

@if (messageExists)
{
    <p>@( (string)message )</p>
}

<section class="myaccount-grid">
    <h3>Password, E-Mail & Username</h3>

    @if (Model.HasEmail)
    {
        <div>
            ICON
        </div>
        <div>
            <a asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.ChangeEmail)">Change my e-mail address</a>
        </div>
    }
    @if (Model.HasEmail && !Model.EmailIsConfirmed)
    {
        <div>
            ICON
        </div>
        <div>
            <a asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.ConfirmEmailAgain)">Confirm e-mail address</a>
        </div>
    }
    @if (Model.HasPassword)
    {
        <div>
            ICON
        </div>
        <div>
            <a asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.ChangePassword)">Change password</a>
        </div>
    }
    @if (!Model.HasEmail && !Model.HasPassword)
    {
        <partial name="_IconAtPartial" />
        <div>
            <a style="display: inline-block" asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.AddNormalLogin)" class="l">Add regular E-Mail / Password login to my account</a>
        </div>
    }
    
    <partial name="_IconUsernamePartial" />
    <div>
        <a asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.ChangeUsername)">Change username</a>
    </div>
</section>

<section class="myaccount-grid">
    <h3>External Logins</h3>

    <div>
        ICON
    </div>
    <div>
        <a asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.ExternalLogins)">View / add external logins</a>
    </div>
</section>

<section class="myaccount-grid">
    <h3>Personal Data</h3>

    <p>By downloading your personal data you can review what information this website has stored about you!</p>
    <p></p>

    <div>
        ICON
    </div>
    <div>
        <form method="post" asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.DownloadMyData)">
            <button type="submit">Download my data</button>
        </form>
    </div>
    
</section>

<section class="myaccount-grid" id="danger-zone">
    <h3>Danger Zone</h3>

    <div>
        ICON
    </div>
    <div>
        <a asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.DeleteAccount)">Delete my account</a>
    </div>
</section>

