@{
    ViewData["Title"] = "Mods Overview";
}

@model List<Mod>

<h1>Mods</h1>

<hr />

<p>
    <a asp-action="@nameof(ModsController.CreateMod)">Create a new mod</a>
</p>

@if (Model.Count is 0)
{
    <p>No mods exist yet.</p>
}
else
{
    @Html.ValidationSummary()
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Mod Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td><a asp-action="@nameof(ModsController.Mod)" asp-route-modId="@m.Id">@m.ModName</a></td>
                    <td>@m.ModUrls.Count Link@(m.ModUrls.Count == 1 ? "" : "s")</td>

                    <td class="simple-confirm-element">
                        <button>Delete Mod</button>
                    </td>
                    <td class="display-none">
                        @{ var deleteModel = new DeleteMod { ModId = m.Id }; }
                        <partial name="_DeleteModFormPartial" model="@deleteModel" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@section Scripts  {
    <script src="~/js/dist/simple_confirmation_button.min.js" asp-append-version="true"></script>
}

