@model ChangeMod
@inject Website.Services.IModRepository modRepository

@{
    ViewData["Title"] = "Change Mod";
    var mods = await modRepository.GetAllMods();
}

<h3>Change Mod for Resource with ID @Model.ResourceId</h3>

<hr/>

<form method="post" asp-controller="@IsaacController.Controllername" asp-action="@nameof(IsaacController.ChangeMod)" asp-area="Admin">
    <input type="hidden" asp-for="ResourceId" />
    <input type="hidden" asp-for="CurrentMod" />

    <div>
        <label asp-for="ModId"></label>
        <select asp-for="ModId">
            <option value="">No Mod</option>
            @foreach (var mod in mods)
            {
                @if (Model.CurrentMod == mod.ModName)
                {
                    <option value="@mod.Id" selected>@mod.ModName</option>
                }
                else
                {
                    <option value="@mod.Id">@mod.ModName</option>
                }
            }
        </select>
    </div>
    <div>
        <button type="submit">Assign to mod</button>
    </div>
</form>

