@{ 
    ViewData["Title"] = "Create new Isaac Resource";
    var mods = (List<Mod>)ViewData["Mods"];
}

@model CreateIsaacResource

<h1>Create a new Isaac Resource</h1>

<hr/>

@Html.ValidationSummary()

<form method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Resource Name</legend>
        <div>
            <label asp-for="Id"></label>
            <input type="text" asp-for="Id" />
            <div class="error-message"></div>
        </div>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
            <div class="error-message"></div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Icon</legend>
        <div>
            <label asp-for="Icon"></label>
            <input id="file" type="file" asp-for="Icon" />
            <div id="dropzone" style="width: 100%; height: 50px; background-color: rgba(255,255,255,0.2)">
                Drop item here...
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Game Info</legend>
        <div>
            <label asp-for="ResourceType"></label>
            <select asp-for="ResourceType">
                <option value="" selected>Choose...</option>
                <option value="@ResourceType.Unspecified">Unspecified</option>
                <option value="@ResourceType.Boss">Boss</option>
                <option value="@ResourceType.Character">Playable Character</option>
                <option value="@ResourceType.Curse">Curse</option>
                <option value="@ResourceType.OtherConsumable">Other Consumable</option>
                <option value="@ResourceType.Floor">Floor</option>
                <option value="@ResourceType.Item">Item</option>
                <option value="@ResourceType.ItemSource">Item Source</option>
                <option value="@ResourceType.Pill">Pill</option>
                <option value="@ResourceType.Rune">Rune</option>
                <option value="@ResourceType.TarotCard">Tarot Card</option>
                <option value="@ResourceType.Enemy">Enemy</option>
                <option value="@ResourceType.Transformation">Transformation</option>
                <option value="@ResourceType.Trinket">Trinket</option>
                <option value="@ResourceType.CharacterReroll">Character Reroll</option>
            </select>
            <div class="error-message"></div>
        </div>
        <div>
            <label asp-for="ExistsIn"></label>
            <select asp-for="ExistsIn">
                <option value="" selected>Choose...</option>
                <option value="@ExistsIn.Unspecified">Unspecified</option>
                <option value="@ExistsIn.Nowhere">Nowhere</option>
                <option value="@ExistsIn.VanillaOnly">Vanilla Exclusive</option>
                <option value="@ExistsIn.WrathOfTheLambOnly">Wrath of the Lamb Exclusive</option>
                <option value="@ExistsIn.CommunityRemixOnly">Community Remix Exclusive</option>
                <option value="@ExistsIn.RebirthOnly">Rebirth Exclusive</option>
                <option value="@ExistsIn.AfterbirthOnly">Afterbirth Exclusive</option>
                <option value="@ExistsIn.AfterbirthPlusOnly">Afterbirth† Exclusive</option>
                <option value="@ExistsIn.RepentanceOnly">Repentance Exclusive</option>
                <option value="@ExistsIn.BoosterPack1Only">Booster Pack 1 Exclusive</option>
                <option value="@ExistsIn.BoosterPack2Only">Booster Pack 2 Exclusive</option>
                <option value="@ExistsIn.BoosterPack3Only">Booster Pack 3 Exclusive</option>
                <option value="@ExistsIn.BoosterPack4Only">Booster Pack 4 Exclusive</option>
                <option value="@ExistsIn.BoosterPack5Only">Booster Pack 5 Exclusive</option>
                <option value="@ExistsIn.VanillaOnwards">Vanilla Onwards</option>
                <option value="@ExistsIn.WrathOfTheLambOnwards">Wrath of the Lamb Onwards</option>
                <option value="@ExistsIn.CommunityRemixOnwards">Community Remix Onwards</option>
                <option value="@ExistsIn.RebirthOnwards">Rebirth Onwards</option>
                <option value="@ExistsIn.AfterbirthOnwards">Afterbirth Onwards</option>
                <option value="@ExistsIn.AnitbirthOnwards">Antibirth Onwards</option>
                <option value="@ExistsIn.AfterbirthPlusOnwards">Afterbirth† Onwards</option>
                <option value="@ExistsIn.BoosterPack1Onwards">Booster Pack 1 Onwards</option>
                <option value="@ExistsIn.BoosterPack2Onwards">Booster Pack 2 Onwards</option>
                <option value="@ExistsIn.BoosterPack3Onwards">Booster Pack 3 Onwards</option>
                <option value="@ExistsIn.BoosterPack4Onwards">Booster Pack 4 Onwards</option>
                <option value="@ExistsIn.BoosterPack5Onwards">Booster Pack 5 Onwards</option>
                <option value="@ExistsIn.RepentanceOnwards">Repentance Onwards</option>
                <option value="@ExistsIn.AntibirthAndRepentanceOnwards">Antibirth, then Repentance Onwards</option>
            </select>
            <div class="error-message"></div>
        </div>
        <div>
            <label asp-for="GameMode"></label>
            <select asp-for="GameMode">
                <option value="" selected>Choose...</option>
                <option value="@GameMode.Unspecified">Unspecified</option>
                <option value="@GameMode.AllModes">Everywhere</option>
                <option value="@GameMode.HardAndNormal">Normal and Hard Mode</option>
                <option value="@GameMode.Hard">Hard Mode Only</option>
                <option value="@GameMode.Normal">Normal Mode Only</option>
                <option value="@GameMode.Greed">Greed Mode Only</option>
                <option value="@GameMode.Greedier">Greedier Mode Only</option>
                <option value="@GameMode.SpecialChallenge">Challenge Specific</option>
                <option value="@GameMode.SpecialSeed">Seed Specific</option>
            </select>
            <div class="error-message"></div>
        </div>
        
    </fieldset>
    <fieldset>
        <label>Color</label>
        <div>
            <label asp-for="Color"></label>
            <input type="color" asp-for="Color" />
            <div class="error-message"></div>
        </div>
    </fieldset>
    <fieldset>
        <label>Mods</label>
        <div>
            <label>Is this from a Mod?</label>
            <select asp-for="FromMod">
                <option value="@null" selected>No</option>
                @foreach (var mod in mods)
                {
                    <option value="@mod.Id">@mod.ModName</option>
                }
            </select>
        </div>
    </fieldset>
    <fieldset>
        <label>Miscellanious</label>
        <div>
            <label asp-for="DisplayOrder"></label>
            <input type="number" asp-for="DisplayOrder" />
            <div class="error-message"></div>
        </div>
        <div>
            <label asp-for="Difficulty"></label>
            <input type="number" asp-for="Difficulty" />
            <div class="error-message"></div>
        </div>
    </fieldset>
    <div>
        <button type="submit">Create</button>
    </div>
</form>


@section Scripts {
    <script src="~/js/dist/validation.min.js"></script>
    <script src="~/js/dist/drag_and_drop.min.js"></script>
}