@{
    ViewData["Title"] = $"Overview for '{Model.Name}'";
}

@model IsaacResource

<h1>Overview for @Model.Name</h1>
<hr/>

<h3>Name</h3>
<p>
    Current Name is: '@Model.Name' - <a asp-action="@nameof(IsaacController.ChangeName)" asp-route-id="@Model.Id">Change</a>
</p>
<hr/>

<h3>ID</h3>
<p>
    Current resource ID is '@Model.Id' - <a asp-action="@nameof(IsaacController.ChangeId)" asp-route-id="@Model.Id">Change</a>
</p>
<hr/>

<h3>Icon</h3>
<p>
    Current Icon:<br/>
    <div style="background: url('/img/isaac.png') @(Model.X is 0 ? "0px" : $"-{Model.X}px") @(Model.Y is 0 ? "0px" : $"-{Model.Y}px") transparent; width: @(Model.W)px; height: @(Model.H)px; display: inline-block; background-color: rgba(255,255,255,0.5);"></div>
</p>
<p>
    <a asp-action="@nameof(IsaacController.ChangeIcon)" asp-route-id="@Model.Id">Change Icon</a>
</p>
<hr />


<h3>Existance</h3>
<p>
    The resource currently exists in: '@Model.ExistsIn.ToString()'; - <a asp-action="@nameof(IsaacController.ChangeExistsIn)" asp-route-id="@Model.Id">Change</a>
</p>

<hr/>

<h3>Color</h3>
<p>Current Color:</p>
<div style="width: 50px; height: 50px; margin: 1rem auto; background-color: @Model.Color"></div>
<p>
    <a asp-action="@nameof(IsaacController.ChangeColor)" asp-route-id="@Model.Id">Change Color</a>
</p>

<hr/>

<h3>Mod</h3>
@if(Model.Mod is null)
{
    <p>Not assigned to a mod</p>
}
else
{
    <p>Assigned to mod: @Model.Mod.ModName</p>
}
<p>
    <a asp-action="@nameof(IsaacController.ChangeMod)" asp-route-id="@Model.Id">Change Mod</a>
</p>


<hr/>
<p><a asp-controller="@IsaacController.Controllername" asp-area="Admin" asp-action="@nameof(IsaacController.Index)">Back to overview</a></p>