@{
    ViewData["Title"] = "Isaac Resource Overview";
}

@model string

<h1>Isaac Resource Overview</h1>

<hr />

@if (!string.IsNullOrWhiteSpace(Model))
{
    <h3>Warning!</h3>
    <p>@Model</p>
    <hr />
}

<p>
    <a asp-action="@nameof(IsaacController.Create)">Create a new Resource</a>
</p>

<hr />

<p>
    Choose what to display:
</p>
<p>
    <select id="resource-selector">
        <option value="">Choose...</option>
        <option value="@ResourceType.Boss">Bosses</option>
        <option value="@ResourceType.Character">Playable Characters</option>
        <option value="@ResourceType.CharacterReroll">Character Rerolls</option>
        <option value="@ResourceType.Curse">Curses</option>
        <option value="@ResourceType.Enemy">Enemies</option>
        <option value="@ResourceType.Floor">Floors</option>
        <option value="@ResourceType.Item" selected>Items</option>
        <option value="@ResourceType.ItemSource">Item Sources</option>
        <option value="@ResourceType.OtherConsumable">Other Consumable</option>
        <option value="@ResourceType.Pill">Pills</option>
        <option value="@ResourceType.Rune">Runes</option>
        <option value="@ResourceType.TarotCard">Tarot Cards</option>
        <option value="@ResourceType.Transformation">Transformations</option>
        <option value="@ResourceType.Trinket">Trinkets</option>
        <option value="@ResourceType.Unspecified">Unspecified</option>
    </select>

    <table id="resource-displayer">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Game Mode</th>
                <th>Exists In</th>
                <th>Image Coordinates</th>
                <th>Color</th>
                <th>Mod</th>
                <th>Order</th>
                <th>Difficulty</th>
                <th>Level</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="10">Nothing to display yet...</td>
            </tr>
        </tbody>
    </table>
</p>


@section Scripts {
    <script src="~/js/dist/set_admin_mode.min.js" asp-append-version="true"></script>
    <script src="~/js/dist/resource_selector.min.js" asp-append-version="true"></script>
}