@{ 
    ViewData["Title"] = "Admin Area";
}

<h1>Admin Area</h1>

<hr/>

<p>
    <a asp-controller="@ModsController.Controllername" asp-action="@nameof(ModsController.Index)">Manage Mods</a>
</p>
<p>
    <a asp-controller="@IsaacController.Controllername" asp-action="@nameof(IsaacController.Index)">Manage Isaac Content</a>
</p>
<p>
    <a asp-controller="@AddVideosController.Controllername" asp-action="">Manually Add/Update Videos</a>
</p>



